@use "../../styles/variables";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  background-color: variables.$purple-color;

  &:hover {
    background-color: hsl(0, 0%, 8%);
  }
}

.form-control {
  width: 60%;

  &:focus {
    box-shadow: none;
    border-color: variables.$purple-color;
  }
}

label {
  color: variables.$grey-color;
}